<% @boats.each do  |boat| %>
  <%= link_to boat_path(boat) do %>
    <p><strong><%= boat.name %></strong> <%= boat.production_year %></p>
  <% end %>
  <p>Category: <%= boat.category %></p>
<% end %>

adicionado
