<div class="boat-card boat-show-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @boat.photo.key %>')">
</div>

<h1>Reviews for: <strong><%= @boat.name %></strong></h1>
<div class="container">
  <div class="row g-2 justify-content-center">
    <% @reviews.each do |review|  %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
          <div class="d-inline m-2">
            <%  review.rating.to_i.times do  %>
              <i class="fa fa-star checked"></i>
            <% end %>
            <%  (5 - review.rating.to_i).times do  %>
              <i class="fa fa-star"></i>
            <% end %>
          </div>
          <div class="card-body">
            <%# <h5 class="card-title">Title</h5> %>
              <blockquote class="blockquote mb-0">
                <p class="card-text"><%= review.comment %></p>
                <footer class="blockquote-footer">By <strong><%= review.reservation.user.first_name %></strong></footer>
              </blockquote>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
